@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Bold.eot');
    src: url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Bold.woff2') format('woff2'),
        url('PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-SemiBold.eot');
    src: url('Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Nunito-SemiBold.woff2') format('woff2'),
        url('Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Medium.eot');
    src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Medium.woff2') format('woff2'),
        url('Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Bold.eot');
    src: url('Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('Nunito-Bold.woff2') format('woff2'),
        url('Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.eot');
    src: url('Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('Nunito-Regular.woff2') format('woff2'),
        url('Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Bold.eot');
    src: url('Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
        url('Comfortaa-Bold.woff2') format('woff2'),
        url('Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.eot');
    src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

